{% extends 'base.html' %}
{% load static %}

{% block body %}
    

    <div class="hero-image">
        <!-- navbar -->
        <nav class="navbar">
            <div class="container">
                <a href="" class="navbar-brand"><img src="img/netflix_logo.png" alt=""></a>
            </div>
        </nav>
        
        <div class="hero-text">
            <!-- form -->
            {% if hata %}
            <div style="margin-top: -50px;" class="alert alert-warning alert-dismissible fade show position-absolute w-100" role="alert">
                {{ hata }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            
                
            <form action="" method="POST" class="hero-text2 mt-5 mb-5">
                {% csrf_token %}
                <h2>Oturum Aç</h2>

                <div class="mb-3">
                    <input type="text" name="username" class="form-control form-control-lg" placeholder="E-posta veya telefon numarası">
                    <input type="password" name="password" id="" class="form-control form-control-lg mt-5">
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger btn-lg" type="submit">Oturum Aç</button>
                </div>

                <div class="form-check text-start">
                    <input type="checkbox" name="" id="" class="form-check-input">
                    <label for="" class="form-check-label">
                        Beni Hatırla
                    </label>
                </div>

                <p class="p-grey">
                    Netflix'e katılmak ister misiniz? Şimdi kaydolun. <br><br>
                    Bu sayfa robot olmadığınızı kanıtlamak için Google reCAPTCHA tarafından korunuyor. Daha fazlasını öğrenin.
                </p>
            </form>
        </div>

         <!-- Footer -->
     
</div>

{% endblock body %}

